@keyframes smoothMove {
  0% {
    transform: translateY(0); /* Start position */
  }
  50% {
    transform: translateY(-50px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Return to start position */
  }
}

.bounce-animation {
  animation: smoothMove 4s infinite; /* Smooth up and down movement */
  /* Adjust the width as needed */
}
.banner {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wave-header {
  width: 100%;
  background: #00204a;
}

.svgPicture {
  position: absolute;
  bottom: -420px;
}
